import torch
from lightning import Trainer
from lightning.pytorch.demos.boring_classes import RandomDataset
from torch import nn
from torch.utils.data import DataLoader

from thunder import ThunderModule
from thunder.layout import Single

train_data = DataLoader(RandomDataset(32, 64), batch_size=2)
val_data = DataLoader(RandomDataset(32, 64), batch_size=1)

layout = Single()


def criterion(x, y=None):
    return x.mean()


architecture = nn.Linear(32, 1)
optimizer = torch.optim.Adam(architecture.parameters())

module = ThunderModule(architecture, criterion, n_targets=-1, optimizer=optimizer)
trainer = Trainer(accelerator="auto", max_epochs=1, limit_train_batches=1)
